configuration {
    drun-display-format: "{name}";
    display-drun: "App name:";
    font: "Hack Nerd Font:style=Regular;size=12";
}

@theme "squared-everforest"

* {
    padding: 0;
    border: 0;
    margin: 0;
    spacing: 0;
}

